<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.html') %>
    <link rel="stylesheet" href="/css/auto_form.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/screen_max_min_with.css">
</head>
<body>
    <%- include('partials/preloader.html') %>
    <div class="container">
        <form action="/res/<%- legajo %>" method="POST">
            <h1 class="title">Materias para completar:</h1>
            <div class="form-check form-switch switches">
                <% for (let index = 0; index < info.length; index++) { %>
                    <input class="form-check-input" type="checkbox" role="switch" name="<%- index %>" value="<%- info[index].code %>" checked>          
                    <label class="form-check-label" for="<%- index %>" data-bs-toggle="tooltip" data-bs-placement="top" title="<%- info[index].text %>"><%- info[index].text %></label>
                    
                    <br>
                <% }; %>
            </div>      
            <h1> como estuvo? </h1>
            <div class="radio_buttons">
                <input type="radio" class="btn-check btn-lg down_button" name="option" id="insuficiente" value="insuficiente" autocomplete="off">
                <label class="btn btn-secondary down_button" for="insuficiente">mal</label>

                <input type="radio" class="btn-check btn-lg down_button" name="option" id="ns" value="ns" autocomplete="off" checked>
                <label class="btn btn-secondary down_button " for="ns" id="ns">no save, no contesta</label>

                <input type="radio" class="btn-check btn-lg down_button" name="option" id="siempre" value="siempre" autocomplete="off">
                <label class="btn btn-secondary down_button" for="siempre">bien</label>
            </div>
            <button class="btn btn-primary btn-lg completar" type="submit" id="atencion" onclick="load()"> Completar </button>
        </form>   
        <div class="alert alert-warning" role="alert" style="display: <%- alert %>" >
            <b> <%- error %> </b> 
         </div>  
    </div>
</body>
<footer>
    <%- include('partials/footer.html') %>
    <script>
        window.addEventListener('load', () => {
            document.getElementById('preloader').className = 'preloader_not_show';
            document.getElementById('preloader_spinner').className = 'not_show';
        });
        function load(){
            document.getElementById('preloader').className = 'preloader_show';
            document.getElementById('preloader_spinner').className = 'spinner-border text-light';
        };
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
</footer>
</html>