<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.html') %>
    <link rel="stylesheet" href="/css/responce.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1> Encuestas completadas </h1>
            
        </div>
        
        <iframe src="http://encuesta.frm.utn.edu.ar/encuesta_materia/encuestamat.php?legajo=<%- legajo %>" frameborder="0"></iframe>
        
        
    </div>
</body>
<footer>
    <%- include('partials/footer.html') %>
</footer>
</html>