.container{
    text-align: center;  
}

.header{
    margin-top: 15%;
    margin-bottom: 5%;
}

.form_div{
    padding-left: 10%;
    padding-right: 10%;
}

.btn-secondary{
    margin-top: 5%;
}

.alert{
    margin-top: 15%;
}
